.class {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.buttom {
  display: flex;
  margin-bottom: 12px;
}

.hour {
  font-size: 12px;
  color: #666666;
}

.text {
  font-size: 14px;
  color: #3c3a3b;
  line-height: normal;
}
.comments {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #3c3a3b;
  word-break: break-all;
  max-width: 270px;
  min-width: 270px;
}

.deleteIcon {
  color: #666666;
  cursor: pointer;
  display: flex;
}

.deleteIcon:hover{
  color: red;
}

